body {
    background-color: #008c8c;
    font-size: 14;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: auto;
    width: 300px;
    height: 300px;
    padding: .3%;
}

h1, h2, h3 {
    color: #fff;  
}

p {
    color: #fff;
    text-align: justify;
    text-decoration: none;
}
